* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(187, 183, 183);
}

li{
    list-style: none;
}

.todoSec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 1000px;
  background-color: red;
}

form {
}

label {
}

#todoInput {
    padding: 5px;
}

#checkbox {
}

#btn {
}


.list {
    width: 80%;
    background-color: #fff;
    border: 1px solid blue;
    margin-top: 10px;
}